gitlab_domain: gitlab.int.jrtashjian.com
gitlab_external_url: "https://{{ gitlab_domain }}/"
gitlab_ssl_certificate: "/etc/gitlab/certs/fullchain.pem"
gitlab_ssl_certificate_key: "/etc/gitlab/certs/privkey.pem"

gitlab_smtp:
  address: "{{ smtp_host }}"
  port: "{{ smtp_port }}"
  user_name: "{{ smtp_user }}"
  password: "{{ smtp_pass }}"
  domain: "jrtashjian.com"

gitlab_object_store_connection: |
  {
    'provider' => 'AWS',
    'region' => 'us-east-1',
    'aws_access_key_id' => '{{ minio_access_key_id }}',
    'aws_secret_access_key' => '{{ minio_secret_access_key }}',
    'endpoint' => 'http://{{ minio_endpoint }}',
    'path_style' => true
  }

gitlab_registry_storage: |
  {
    's3' => {
      'accesskey' => '{{ minio_access_key_id }}',
      'secretkey' => '{{ minio_secret_access_key }}',
      'bucket' => 'gitlab-container-registry',
      'region' => 'us-east-1',
      'regionendpoint' => 'http://{{ minio_endpoint }}',
    },
    'redirect' => {
      'disable' => false,
    }
  }
