ansible_become_pass: {{ op://homelab/ansible-user/password }}
ansible_public_key: {{ op://homelab/ansible-ssh/public key }}
ansible_user: {{ op://homelab/ansible-user/username }}

terraform_user: {{ op://homelab/terraform-user/username }}
terraform_pass: {{ op://homelab/terraform-user/password }}

ldap_host: "ldap.int.jrtashjian.com"
ldap_base_dn: "dc=int,dc=jrtashjian,dc=com"
ldap_admin_user: "{{ op://homelab/ldap-admin-user/username }}"
ldap_admin_pass: "{{ op://homelab/ldap-admin-user/password }}"
ldap_bind_user: "{{ op://homelab/ldap-bind-user/username }}"
ldap_bind_pass: "{{ op://homelab/ldap-bind-user/password }}"

lldap_jwt_secret: "{{ op://homelab/lldap-jwt-secret/password }}"
lldap_key_seed: "{{ op://homelab/lldap-key-seed/password }}"

smtp_host: {{ op://homelab/smtp_server/server }}
smtp_port: {{ op://homelab/smtp_server/SMTP/port number }}
smtp_user: {{ op://homelab/smtp_server/username }}
smtp_pass: {{ op://homelab/smtp_server/password }}

certbot_email: {{ op://homelab/linode-certbot-ansible/email }}
certbot_dns_linode_key: {{ op://homelab/linode-certbot-ansible/credential }}

minio_endpoint: "192.168.10.11:9000"
minio_access_key_id: {{ op://homelab/minio-admin-user/Access Keys/access key }}
minio_secret_access_key: {{ op://homelab/minio-admin-user/Access Keys/secret access key }}

gitlab_omniauth_providers: |
  [
    {
      name: "github",
      app_id: "{{ op://homelab/github-omniauth-provider/username }}",
      app_secret: "{{ op://homelab/github-omniauth-provider/credential }}",
      args: { scope: "user:email" }
    }
  ]