ansible_become_pass: {{ op://homelab/ansible-user/password }}
ansible_public_key: {{ op://homelab/ansible-ssh/public key }}
ansible_user: {{ op://homelab/ansible-user/username }}

terraform_user: {{ op://homelab/terraform-user/username }}
terraform_pass: {{ op://homelab/terraform-user/password }}

certbot_email: {{ op://homelab/linode-certbot-ansible/email }}
certbot_dns_linode_key: {{ op://homelab/linode-certbot-ansible/credential }}

gitlab_object_store_connection: |
  {
    'provider' => 'AWS',
    'region' => 'us-east-1',
    'aws_access_key_id' => '{{ op://homelab/MinIO/Access Keys/access key }}',
    'aws_secret_access_key' => '{{ op://homelab/MinIO/Access Keys/secret access key }}',
    'endpoint' => 'http://192.168.10.11:9000',
    'path_style' => true
  }